*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    animation: forwards 0.5s animate;
}
@keyframes animate {
    from{
        transform: translateY(-10px);
        opacity: 0.1;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
#title span{
    background-color: rgba(170, 154, 154, 0.541);
}
#home img{
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    animation: infinite image 2s;
}
@keyframes image {
    from{
        transform: translateY(5px);
    }
    to{
        transform: translateY(0);
    }
}
#title p{
    color: #eee;
}
#contact .card{
    margin-top: 40px;
    transition: all 0.3s;
}
#contact span i{
    color: blue;
}
#contact .card:hover{
    border: 2px solid blue;
    transform: translateY(-5px);
}
#contact .card:hover span i{
    color: white;
    background-color: blue;
    padding: 8px;
    border-radius: 7px;
    transition: all 0.5s;
}
.card a{
    all: unset;
}
.fa-html5{
    color: orangered;
}
#skills .card-title{
    padding: 7px;
}
#skills .card-footer span{
    color: white;
    border: 1px solid white;
    border-radius: 7px;
    padding: 10px;
    transition: all 0.3s;
}
#skills .card-footer span:hover{
    background-color: white;
    color: blue;
}
#skills .card{
    width: 100%;
    max-width: 400px;
    padding: 10px;
    transition: all 0.5s;
}
#skills .card:hover{
    transform: translateY(-5px);
}
#skills .card-title{
    border-radius: 7px;
}
#skills .card-footer{
    border: none;
}
nav a{
    position: relative;
}
nav a::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 5px;
    background-color: blueviolet;
    transition: all 0.5s;
}
nav a:hover::before{
    width: 100%;
}
